 	.c-sellpage{
    	
    	 margin: 0 auto;
    	 position: relative;
    	}
    	
    	
    	
        .c-sellpage div{
            margin :0 ;
            padding: 0;
            float: left;    
               
        }
        .c-sellpage button{
        	cursor: pointer;
        	outline:none;
        	border-shadow:none;
             
        }
        
        
        
        .c-sell_page_main{
            width: 1000px;
             border-top: 5px solid #878787;
              border-bottom: 5px solid #878787;  
               position: absolute;
            	top:10px;
            	left:450px;
              
        }
        .c-sell_sell{
            width:100%;
            height:500px;
             
        }
        
        .c-sell_photo{
              width:50%;
            height:100%;
        }
        
        .c-sell_photo>div{
        	margin-left:25px;
        	margin-top:15px;
        }
        
        .c-sell_photo_view{
         	width:90%;
            height:80%;
            border: 1px solid #eaeaea
        }
        
        .c-sell_photo_navi{
         	width:90%;
            height:10%;
        }
        
         .c-sell_info{
              width:50%;
            height:100%;
            
        }
        
        .c-sell_title{
              width:100%;
            height:25%;
             border-bottom: 2px solid #d8d8d8;   
        }
         .c-sell_title>h2{
         margin-bottom:10px;
          margin-top:15px;
         
         }
         .c-sell_info_variable{
              width:100%;
            height:10%;
            
        }
        .c-sell_info_variable>div{
        	margin-right:20px;
        	padding-left:20px;
        	
        }
        .c-sell_info_variable>div>img{
         	margin-top: 3px;
        	 margin-right: 5px;
        	width:16px;
            height:18px;
        }
        
        
		.c-sell_info_favorite{
		 border-right: 1px solid #eaeaea; 
		}
		
		.c-sell_info_view{
		border-right: 1px solid #eaeaea;
		}
		

         .c-sell_info_fix{
              width:100%;
            height:43%;
        }
        .c-sell_info_fix>ul>li{
             list-style: none;
        }
        .c-sell_info_fix>ul>li>h4{
            padding-bottom: 2px;
            
        }
        
        
         .c-sell_info_btn{
              width:100%;
            height:21.9%;
        }
        .c-sell_info_btn>div{
            margin-right: 4px;
            
            
        }
        .c-sell_interest_btn{
              width:32%;
            height:100%;
             
        }
        .c-sell_contact_btn{
              width:32%;
            height:100%;
        }
        .c-sell_sell_btn{
              width:32%;
            height:100%;
        }
       
        .c-sell_info_btn>div>button{
       	width:130px;
       	height:70px;
         margin-left: 10%;
            margin-top: 10%;
            color: aliceblue;
       
       }
       
       .c-sell_interest_btn>button{
           background-color: #878787;
           border:none;
    	border-shadow:none;
       }
       .c-sell_contact_btn>button{
           background-color: #285226;
           border:none;
    	border-shadow:none;
       }
       .c-sell_sell_btn>button{
           background-color: #c42026;
           border:none;
    	border-shadow:none;
       }
        
        
        .c-sell_etc{
         
               width:100%;
            height:1000px;
            border-top: 2px solid #878787;
        }
        .c-sell_etc_title{
              width:68.9%;
            height:100%;
             border-right: 1px solid #878787;
        }
          .c-sell_etc_info{
                width:100%;
            height:20%;
             border-bottom: 1px solid #878787;
        }
        .c-sell_etc_inquiry{
                width:100%;
            height:80%;
        }
        
        .c-etc_inquiry_input{
              width:100%;
            height:29%;
        
        }
        
        .c-etc_inquiry_title{
              width:100%;
            height:50px;
            border-bottom: 1px solid #878787;
        }
        
        .c-etc_inquiry_title>h3{
            margin-bottom: 5px;  
            margin-left: 15px;
        }
        
        .c-etc_inquiry_textarea{
              width:100%;
            height:150px;
        }
        
        .c-etc_inquiry_textarea>textarea{
            width:95%;
            height:80%;
            
            margin-left: 14px;
            margin-top: 20px;
        }
        
        .c-etc_inquiry_textinput{
             width:100%;
            height:30px;
        }
        .c-etc_inquiry_textvar{
             width:50%;
            height:100%;
        }
        .c-etc_inquiry_textvar>span{
             margin-left: 14px;
            
            
        }
        .c-etc_inquiry_textin{
             width:50%;
            height:100%;
        
        }
        .c-etc_inquiry_textin>button{
            width:20%;
            height:100%;
            float:right;
            margin-right: 20px;
            background-color: white;
            border: 1px solid #eaeaea;
    		border-shadow:none;
    		text-align:center;
        }
        
        .c-etc_inquiry_textin>button>img{
        	  margin-top: 3px;
        	  margin-right: 5px;
        	 width:16px;
            height:18px;
        
        }
        
        
        .c-etc_inquiry_view{
              width:100%;
            height:71%;
        }
        .c-etc_inquiry_view2{
              width:100%;
            height:85%;
        }
        
        .c-etc_inquiry_view2>div{
        	margin-top:30px;
        	margin-left:10px;
        }
        
        .c-etc_inquiry_btn{
              width:100%;
            height:90px;
        }
        
        .c-etc_inquiry_btn>button{
            width:50%;
            height:50%;
            margin-left: 20%;
             margin-top: 3%;
             background:none;
             border:none;
             border-shadow:none;
              
        }
       
         
       
        
        
        .c-sell_etc_input{
               width:100%;
            height:50px;
            border-bottom: 1px solid #878787;
        }
        .c-sell_etc_input>h3{
        margin-bottom: 5px;  
            margin-left: 15px;
             
            
        }
        
        .c-sell_etc_view{
             width:100%;
            height:25%;
              border-bottom: 1px solid #878787;
        }
        
        
        
        .c-sell_etc_choice{
               width:100%;
            height:100px;
            text-align:center;
        }
        
         .c-sell_etc_choice>div{
            margin-right: 4px;
            
        }
        
         
        
        .c-sell_etc_choice>div>img{
         margin-top: 10px;
          margin-right: 5px;
            width:16px;
            height:18px;
            
        }
         .c-sell_etc_choice>div>span{
          	 
          	color: #878787;
         }
        
        .c-sell_etc_addr{
              width:32%;
            height:96%;
            border-right:1px solid #eaeaea;
        }
        
        .c-sell_etc_category{
              width:32%;
            height:96%;
             border-right:1px solid #eaeaea;
        }
        
        .c-sell_etc_tag{
              width:32%;
            height:96%;
        }
        
        .c-sell_store_info{
              width:30.9%;
            height:100%;
            border-right: 1px solid #878787;
        }
        .c-sell_store_info_title{
              width:100%;
            height:50px;
             border-bottom: 1px solid #878787;
        }
        .c-sell_store_info_title>h3{
             margin-bottom: 5px;  
            margin-left: 15px;
        }
        
        .c-sell_store_info_indiv{
              width:100%;
            height:100px;
           
            
        }
         .c-sell_store_info_indiv>div{
         	float:left
         }
        
        .c-sell-indiv-img{
        	width:50%;
            height:100%;
        }
        
        .c-sell-indiv-info{
       		width:50%;
            height:100%;
        }
        .c-sell-indiv-info>a{
        	display:block;
        	margin-top:10px;
        	margin-left:30px;
        	
        }
        
        
        .c-sell_store_info_picture{
              width:100%;
            height:150px;
             
        }
        .c-sell_store_info_picture>h3{
        margin-bottom: 5px;  
            margin-left: 15px;
        }
        .c-sell_store_info_picture_photo{
        	width:100%;
        	float:left;
        }
        
        .c-sell_store_info_picture_a{
        	width:100%;
            height:50px;
        	text-align:center;
        }
        
        .c-sell_info_input{
              width:100%;
            height:50px;
            border-bottom: 1px solid #878787;
        }
        
        
        .c-sell_store_info_review{
              width:100%;
            height:65%;
            
        }
        .c-sell_info_null{
           width:100%;
           height:10%;
           
       }
       .c-sell_info_null>div{
           margin-top: 20px;
           margin-left:20px;
           
       }
  		
        .c-sell_info_null>div>button{
        	width:80px;
        	height:50px;
           background-color: #878787;
           border:none;
    	   border-shadow:none;

        }
        
        .c-sell_info_null>div>button>span{
         color:aliceblue;
        }
   	
   	
   	